body {
    background: linear-gradient(to bottom, lightblue, rgba(136, 94, 160, 0.2));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.menu{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
}

ul{
    list-style: none;
    background: rgb(25, 39, 58);
    position: relative;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

ul li ul.dropdown li {
    display: block;
    background: rgb(25, 39, 58);
    margin: 2px 0px;
}

ul li ul.dropdown {
    width: auto;
    background: rgb(25, 39, 58);
    position: absolute;
    z-index: 999;
    display: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul li a:hover{
    background: rgb(18, 27, 41);
}

ul li:hover ul.dropdown {
    display: block;
}

.title {
    text-align: center;
    font-size: 100px;

   font-family: 'Raleway', sans-serif;
}

.termsubtitle {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;

    font-family: 'Raleway', cursive;
}

.definitionsubtitle {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;

    font-family: 'Raleway', cursive;
    display: none;
}

.term {
    background-color: white;
    border: solid 2px black;
    border-radius: 15px;
    text-align: center;
    width: 45%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Raleway', cursive;

}

.definition{
    background-color: white;
    border: solid 2px black;
    border-radius: 15px;
    text-align: center;
    width: 45%;
    margin: auto;
    margin-top: 20px;
    display: none;
    font-family: 'Raleway', cursive;
}

.button {
    text-align: center;
    margin-top: 100px
}

button {
    color: white;
    background-color: rgb(25, 39, 58);
    padding: 20px;
    border-radius: 15px;
}

button:hover {
    transform: scale(1.1);
}

@media(max-width:480px){
    .title{
        font-size: 50px;
    }
}