@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Square+Peg&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    background: linear-gradient(to bottom, lightblue, rgba(136, 94, 160, 0.2));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.menu{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
}

ul{
    list-style: none;
    background: rgb(161, 150, 197);
    position: relative;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

ul li ul.dropdown li {
    display: block;
    background: rgb(161, 150, 197);
    margin: 2px 0px;
}

ul li ul.dropdown {
    width: auto;
    background: rgb(161, 150, 197);
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background: rgb(134, 122, 165);
}

ul li:hover ul.dropdown {
    display: block;
}

header{background-color: white;}

button{
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: whitesmoke;
}

button:hover{
    background-color: rgba(0,0,0,0.1)
}

.container{
    width: 95%;
    margin: auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    background-color: white
}

.nav button{
    font-family: inherit;
}

.create-box{
    width: 380 px;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(217, 195, 230);
    box-shadow: 0 2px 4px 0 rgba(161, 134, 134, 0.5);
}

.create-box textarea{
    width: 100%;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1rem;
    border: 1px solid lightgray;
}

.createbox button{
    width: fit-content;
}

.flashcards{
    display: flat;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 0 10px;
}



.flashcard{
    width: 370 px;
    height: 200 px;
    word-wrap: break-word;
    margin: 10px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    text-align: center;
}

.flashcard h2{
    font-size: 1rem;
}

.close {
    right: 0;
    top: 0;
    left: 9000;
    padding: 2px 16px 2px 16px;
    margin-left: 90;
    margin-top: 100px;
    background-color: #f44336;
    color: white;
    cursor: pointer;
    position: relative;
    list-style-type: none;
    font-size: 18px;
    transition: 0.2s;
  }

.close:hover {
    background-color: #f44336;
    color: white;
  }

@media(max-width: 768px){
    .flashcard{
        margin: auto
    }
    .flashcard{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media(max-width:480px){
    .nav{
        flex-direction: column;
        align-items: center;
    }

    header{
        text-align: center;
    }

    .create-box{
        width:100%
    }
    .flashcard{
        width: 100%
    }
}